nav .container .navbar-brand {
    font-family: 'Pacifico', cursive;
}

.jumbotron {
    padding-top: 5rem;
    background-color: #e2edff;
}

.jumbotron img {
    width: 250px;
}

.jumbotron h1,
.jumbotron p {
    font-family: Helvetica, sans-serif;
}

.projects {
    background-color: #e2edff;
}

.projects .row .card img {
    cursor: pointer;
}

section {
    padding-top: 4.5rem;
}